@model Producer

@{
    ViewData["Title"] = "Delete Producer";
}

<div class="row text"> 
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.ProducerFullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">               
                        <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProducerProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProducerProfilePictureURL" class="form-control" readonly/>
                        <span asp-validation-for="ProducerProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProducerFullName" class="control-label"></label>
                        <input asp-for="ProducerFullName" class="form-control" readonly/>
                        <span asp-validation-for="ProducerFullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProducerBio" class="control-label"></label>
                        <input asp-for="ProducerBio" class="form-control" readonly/>
                        <span asp-validation-for="ProducerBio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right"/>
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>      
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function() {
        var output = document.getElementById('ProfilePicturePreview');
        output.src = $("#ProducerProfilePictureURL").val();
    })
    </script> 
}